.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    height: fit-content;
    width: 400px;
    padding: 30px;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.224);
}

/* Style the popup container */
#popup-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(99, 98, 98, 0.858);
    z-index: 100;
    display: none;
}
#popup-content {
    margin-top: -30px;
}
.btn {
    display: inline-block;
    font-weight: 700;
    background-color: rgba(67, 67, 67, 0.954);
    color: white;
    text-align: center;
    font-size: 1em;
    transform: translate(10px, -18px);
    padding: 0.5rem 0.9rem;
    border-radius: 50%;
    position: relative;
    top: 0%;
    left: 90%;
    z-index: 1000;
}
.image-container {
    margin: 0 0 15px 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img {
    height: 250px;
}
/* #popup-content {
    border: solid red;
} */
.text-container p {
    margin: 3px;
    font-size: large;
    font-weight: 400;
}
.button-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* quantity */
span {
    cursor: pointer;
}
.number {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.minus,
.plus {
    width: 34px;
    height: 34px;
    background: #cdcdcd;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
input {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #8b8a8a;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

/* buy now */
#buynow-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(99, 98, 98, 0.858);
    z-index: 100;
    display: none;
}
#buynow-container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding: 0;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.224);
}
.card-buynow {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}
.header-buynow {
    padding: 1.25rem 1rem 1rem 1rem;
}
.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2feee;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
}
.image svg {
    color: #0afa2a;
    width: 2rem;
    height: 2rem;
}
.content {
    margin-top: 0.75rem;
    text-align: center;
}
.title {
    color: #066e29;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.actions {
    margin: 0.75rem 1rem;
}

/* buttons both popup */
#btnOk, #buyNow, #btnAddress {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
#btnAddToCart {
    display: inline-flex;
    /* margin-top: 0.75rem; */
    padding: 0.5rem 1rem;
    color: #242525;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #cdcdcd;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
@keyframes animate {
    from {transform: scale(1);}
    to {transform: scale(1.09);}
}

/* contact information */
.address-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(99, 98, 98, 0.858);
    z-index: 100;
    display: none;
}
.address-container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    height: fit-content;
    width: 600px;
    padding: 30px;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.224);
}
.address-container h2 {
    text-align: center;
}
.flex-delivery {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.address-container .information {
    width: 50%;
}
.address-container h2 {
    color: black;
    margin: 0 0 10px 0;
}
.form-group {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 510;
}
.address-container .modeOfPayment {
    width: 50%;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
#paymentMethod {
    width: 100%;
    padding: 8px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    box-sizing: border-box;
}
#paymentMethod * {
    font-size: 14px;
}
#btnOk,
#buyNow,
#btnAddress {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    height: max-content;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* cart */
#cartContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(99, 98, 98, 0.858);
    z-index: 100;
    display: none;
}
.center-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    height: fit-content;
    max-height: 500px;
    width: 600px;
    padding: 30px;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.224);
    overflow-y: auto;
}
#cartItems {
    margin-top: -50px;
}
#cart-exit {
    display: inline-block;
    font-weight: 700;
    background-color: rgba(67, 67, 67, 0.954);
    color: white;
    text-align: center;
    font-size: 1em;
    transform: translate(28px, -20px);
    padding: 0.5rem 0.9rem;
    border-radius: 50%;
    position: relative;
    position: sticky;
    top: 0%;
    left: 90%;
    z-index: 1000;
}
#product {
    border: solid rgba(0, 0, 0, 0.167);
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px;
}

.product-details {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    line-height: .5rem;
    width: 100%;
    padding: 0 15px;
}
.product-details p {
    line-height: 1rem;
}
.product-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;   
}
#txtQuantity-checkout {
    width: 90px;
    text-align: center;
}
#product-remove {
    width: 90px;
    padding: 0.5rem 0.5rem;
    color: #242525;
    font-size: 1rem;
    /* line-height: 1rem; */
    font-weight: 500;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #cdcdcd;
    margin: 8px 0 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
#product-remove:hover {
    background-color: #ff3a5b;
}
#buyNow_checkout {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}